<!DOCTYPE html>
<html>
  <head>
    <meta name="description" content="Millions of indexed printable 3D model files. We collect 3D models from all websites and communities for your 3D printing needs.">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8" />
    <meta http-equiv="language" content="en">
    <meta name="language" content="en">
    <meta name="robots" content="index, follow">

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1425975182964169" crossorigin="anonymous"></script>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-CQ09JEY9W9"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-CQ09JEY9W9');
    </script>

    <link rel="stylesheet" href="assets/spectre.min.css">
    <style>
      body {
        min-width: 320px;
      }
      .btn.btn-primary, .page-item.active a {
        background-color: #BA3B0A !important;
        border-color: #AA2B09;
        color: #fff !important;
      }
      .btn.btn-primary:hover {
        background-color: #AA2B09;
        border-color: #9A1B02;
      }
      a, a:visited {
        color: #BA3B0A !important;
      }
      a:hover {
        color: #AA2B09 !important;
      }
      header.navbar {
        height: 100px;
      }
      .navbar-section.column {
        flex:none;
      }
      .search.form-input {
        width: 100%;
      }
      #searchClose {
        display: none;
        margin: 0;
        padding: 0;
        margin-left: -30px;
        background-color: transparent;
        z-index: 10;
        width: 32px;
        height: 32px;
      }
      #searchClose img {
        width: 22px;
        height: 22px;
        cursor: pointer;
      }
      .column.asset {
        padding: 5px;
      }
      .card-footer.tags {
        overflow-wrap: break-word;
      }
      .pager.column {
        display: flex;
        justify-content: center;
      }
      #pagingPrevious, #pagingNext {
        display: none;
        width:100px;
        margin: 0 10px;
      }
    </style>
    <script>
      let searchInput;
      window.onload = () => {
        const searchButton = document.getElementById('searchButton');
        searchInput = document.getElementById('searchText');
        const searchClose = document.getElementById('searchClose');
        if (searchInput.value) {
          console.log(searchClose.style.display)
          searchClose.style.display = "inline-flex";
          searchClose.addEventListener('click', () => {
            searchInput.value = '';
            searchButton.click();
          });
        }
        searchButton.addEventListener('click', search);
        searchInput.addEventListener('keyup', (e) =>{
          if (e.key.toLowerCase() == 'enter') search();
        });

        const pagingPrevious = document.getElementById('pagingPrevious');
        const pagingNext = document.getElementById('pagingNext');

        const rowCount = {{.rowCount}};
        if (rowCount > 30) {
          pagingPrevious.style.display = 'block';
          pagingNext.style.display = 'block';
        
          let page = 1, query = '';
          if (window.location.search) {
            let matches = window.location.search.match(/page=(\d*)/);
            if (matches?.length > 1) {
              page = parseInt(matches[1]);
              if (page > 1) {
                pagingPrevious.classList.remove('disabled');
              }
            }

            matches = window.location.search.match(/q=([^&]*)/);
            if (matches?.length > 1) {
              query = matches[1];
            }
          }

          if (page > 1) {
            pagingPrevious.addEventListener('click', () => {
              if (query) {
                window.location.search = `?q=${query}&page=${page-1}`;
              } else {
                window.location.search = `?page=${page-1}`;
              }
            });
          }
          if (rowCount >= page * 30) {
            pagingNext.addEventListener('click', () => {
              if (query) {
                window.location.search = `?q=${query}&page=${page+1}`;
              } else {
                window.location.search = `?page=${page+1}`;
              }
            });
          } else {
            pagingNext.classList.add('disabled');
          }
        }
      }
      function search() {
        const query = searchInput.value || '';
        if (query) {
          window.location.href = '/?q=' + query;
        } else {
          window.location.href = '/'
        }
      }

      document.addEventListener("DOMContentLoaded", function() {
        var lazyloadImages;    

        if ("IntersectionObserver" in window) {
          lazyloadImages = document.querySelectorAll(".lazy");
          var imageObserver = new IntersectionObserver(function(entries, observer) {
            entries.forEach(function(entry) {
              if (entry.isIntersecting) {
                var image = entry.target;
                image.src = image.dataset.src;
                image.classList.remove("lazy");
                imageObserver.unobserve(image);
              }
            });
          });

          lazyloadImages.forEach(function(image) {
            imageObserver.observe(image);
          });
        } else {  
          var lazyloadThrottleTimeout;
          lazyloadImages = document.querySelectorAll(".lazy");
          
          function lazyload () {
            if(lazyloadThrottleTimeout) {
              clearTimeout(lazyloadThrottleTimeout);
            }    

            lazyloadThrottleTimeout = setTimeout(function() {
              var scrollTop = window.pageYOffset;
              lazyloadImages.forEach(function(img) {
                  if(img.offsetTop < (window.innerHeight + scrollTop)) {
                    img.src = img.dataset.src;
                    img.classList.remove('lazy');
                  }
              });
              if(lazyloadImages.length == 0) { 
                document.removeEventListener("scroll", lazyload);
                window.removeEventListener("resize", lazyload);
                window.removeEventListener("orientationChange", lazyload);
              }
            }, 20);
          }

          document.addEventListener("scroll", lazyload);
          window.addEventListener("resize", lazyload);
          window.addEventListener("orientationChange", lazyload);
        }
      })
    </script>
  </head>
  <body>
    <div class="main container">
      <div class="columns">
        <div class="column col-10 col-mx-auto">
          <div class="container">
            <header class="navbar columns">
              <section class="navbar-section column col-sm-12 col-md-3 col-3">
                <a href="/"><img src="/assets/logo.png" style="width:120px" /></a>
              </section>
              <section class="navbar-section column col-sm-12 col-md-9 col-9">
                <input id="searchText" class="form-input search" type="search" placeholder="Search" value="{{.searchText}}" />
                <div id="searchClose" class="chip">
                  <img src="assets/x.png" />
                </div>
                <button id="searchButton" class="btn btn-primary input-group-btn">Search</button>
              </section>
              <!-- <section class="navbar-section">
                <a href="#" class="btn btn-link">Twitter</a>
                <a href="#" class="btn btn-link">GitHub</a>
              </section> -->
            </header>
          </div>

          <div class="content">
            <div class="container">
              <div class="columns">
                {{range .assets}}
                <div class="column col-sm-12 col-lg-6 col-xl-4 col-3 asset">
                  <div class="card">
                    <div class="card-image">
                      <a href="{{.Url}}" target="_blank">
                        <img data-src="{{.PreviewUrl}}" class="img-responsive lazy" />
                      </a>
                    </div>
                    <div class="card-body">
                      {{.Title}}
                    </div>
                    <div class="card-footer text-tiny tags">
                      <span class="chip">tags</span>{{.Tags}}
                    </div>
                  </div>
                </div>
                {{end}}
              </div>
            </div>
          </div>

          <div class="container">
            <div class="columns">
              <div class="pager column col-12">
                <ul class="pagination">
                  <li class="page-item">
                    <button id="pagingPrevious" class="btn btn-primary disabled">Previous</button>
                  </li>
                  <li class="page-item">
                    <button id="pagingNext" class="btn btn-primary">Next</button>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>